name: Ejecutar msx.py e Iniciar Servidor (Opción 1)

on:
  workflow_dispatch:

jobs:
  ejecutar_python_opcion_1:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout del código
        uses: actions/checkout@v4
      
      - name: Configurar Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      # NUEVO PASO: Instalar las dependencias de Python
      - name: Instalar dependencias
        # El comando 'pip install -r requirements.txt' instala todas
        # las librerías listadas en el archivo requirements.txt.
        run: pip install -r requirements.txt

      - name: Ejecutar msx.py y pasar la opción 1
        # Simulamos la entrada '1' para iniciar el servidor
        run: |
          echo "Simulando la entrada '1' para iniciar el servidor..."
          echo 1 | python msx.py
          
          echo "Proceso de msx.py completado."
